body {
    text-align: center;
    padding-top: 250px;
    font-family: 'Montserrat', sans-serif;
    max-height: 75%;
    margin: 0;
}

.first-p {
    margin-bottom: 35%;
}

p {
    max-width: 50%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

.button-style {
    padding: 20px;
    background-color: blue;
    border-radius: 15px;
    color: white;
}

.flexbox {
    display: flex;
}

.flexel {
    flex: 0 0 auto;
}