body {
    text-align: center;
    padding-top: 250px;
    font-family: 'Montserrat', sans-serif;
    max-height: 75%;
    margin: 0;
}

.first-p {
    margin-bottom: 35%;
}

p {
    max-width: 50%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

.button-style {
    padding: 20px;
    background-color: blue;
    border-radius: 15px;
    color: white;
}

.flexbox {
    display: flex;
}

.flexel {
    flex: 0 0 auto;
}

.docs-card-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.docs-card {
    background-color: lightgray;
    border-radius: 15px;
    width: 45%;
    flex: 0 0 auto;
    margin: 15px;
    padding: 15px;
}

.features-flexbox {
    display: flex;
    justify-content: center;
}